<!DOCTYPE html>
<html>
    <head>
        <!--Website Title-->
        <title>Project Air - Connect to Pad</title>

        <!--Import Google Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="./css/styles.css"/>

        <!--Import fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Import icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Importing Javascript-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>

        <!--Optimizing website for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <div class="valign-wrapper center-align" style="width: auto; height: 100vh;">
                <form class="center-align" id="addPad" style="width: 100%; height: auto" action="/addPad" method="post">
                    <div class="row">
                        <h3>Link Your Charging Pad</h3>
                        <h5>Enter the unique code on your charging pad. It'll look something like this</h5>
                        <h2 class="text-magenta">TXXXXX</h2>

                        <div class="input-field col s6 push-s3 m4 push-m4 l4 push-l4" >
                                <input id="padUID" type="text" maxlength="6" name="padUID">
                                <label for="numbers" data-error="Enter enter unique code" >Unique Code</label>
                        </div>
                    </div>

                    <p class="black-text center-align">Since we are still in development, let's pretend you entered a unique code.</p>
                    <p class="black-text center-align">Press "Add Device" to continue.</p>

                    <div class="row" style="text-align: center">
                        <button class="btn waves-effect waves-light bg-magenta" id="addPad_btn" name="addPad_btn">Add Device
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>