<!DOCTYPE html>
<html>
    <head>
        <!--Website Title-->
        <title>Project Air - Login</title>
        <!--Import Google Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="./css/styles.css"/>

        <!--Import fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Import icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Importing Javascript-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>

        <!--Importing Firebase JS. Using for Auth.-->
        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

        <!--Optimizing website for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class="row valign-wrapper center-align" style="text-align: center">
                <div class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align">
                    <div class="valign-wrapper center-align" style="width: auto; height:100vh;">

                        <!--Login Box-->
                        <div class="pinkBox">
                            <div class="container">
                                <div class="row center-align" style="text-align: center;">
                                    <image style="width:auto; height: 10vh;"src="./assets/logo.jpg"></image>
                                </div>


                                <div class="row">
                                    <div class="col s12">
                                        <ul class="tabs">
                                            <li class="tab col s6 m6 l6"><a href="#login" style="color:#e20074">Login</a></li>
                                            <li class="tab col s6 m6 l6"><a href="#register" style="color:#e20074">Register</a></li>
                                        </ul>
                                    </div>

                                    <!--Login-->
                                    <div id="login">
                                        <div class="col s12">

                                            <p class="error_msg" id="error"><%if(error_msg){%><%=error_msg%><%}%></p>

                                        </div>
                                        <form class="col s12" id="login">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="login_email" type="email" class="validate" name="login_email">
                                                    <label for="email" data-error="Invalid Email">Work Email</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="login_password" type="password" class="validate" name="login_password">
                                                    <label for="password">Password</label>
                                                </div>
                                            </div>
                                            <div class="row" style="text-align: center">
                                                <button class="btn waves-effect waves-light pink accent-3" id="login_btn" name="login_btn">Login
                                                    <i class="material-icons right">arrow_forward</i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <!--Registration-->
                                    <div id="register">
                                        <div class="row col s12">
                                            <%if(error_msg){%>
                                            <p class="error_msg" id="error"><%=error_msg%></p>
                                            <%}%>
                                        </div>
                                        <form class="col s12" id="reg" action="/register" method="post">
                                            <div class="row">
                                                <div class="input-field col s6">
                                                    <input id="reg_first_name" type="text" class="validate" name="reg_first_name">
                                                    <label for="first_name" data-error="Required">First Name</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input id="reg_last_name" type="text" class="validate" name="reg_last_name">
                                                    <label for="last_name" data-error="Invalid Email">Last Name</label>
                                                </div>                
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="reg_email" type="email" class="validate" name="reg_email">
                                                    <label for="email" data-error="Invalid Email">Work Email</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="password" type="password" class="validate" name="reg_password">
                                                    <label for="password">Password</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="password2" type="password" class="validate" name="reg_password2">
                                                    <label for="password">Confirm Password</label>
                                                </div>
                                            </div>
                                            <div class="row" style="text-align: center">
                                                <button class="btn waves-effect waves-light pink accent-3" id = "reg_btn" type="submit" name="reg_btn">Register
                                                    <i class="material-icons right">arrow_forward</i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        $(document).ready(function(){
            console.log("Index ejs ready!");
            firebase.initializeApp(<%-process.env.FIREBASE_CONFIG%>);

            $(login_btn).on('click', function(event){
                var email = $('#login_email').val();
                var password = $('#login_password').val();
                event.preventDefault();
                console.log('Login Button clicked');

                firebase.auth().signInWithEmailAndPassword(email,password).catch(function(error) {
                    // Handle Errors here.
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    $("#error").replaceWith("<p class='error_msg' id='error'>" + error.message + "<p>");
                    console.log(error.message);
                    // ...
                });


                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        console.log("Currently in index.ejs. User uid is " + user.uid);
                        $.post('/login', {uid: user.uid}, function(data){
                            window.location.href = '/loading';
                        });
                    }
                });
            });
        });
    </script>

</html>