<!DOCTYPE html>
<html>
    <head>
        <!--Website Title-->
        <title>Project Air - Login</title>
        <!--Import Google Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="./css/styles.css"/>

        <!--Import fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Import icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Importing Javascript-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>

        <!--Optimizing website for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class="row" style="text-align: center">
                <div class="valign-wrapper">
                    <div class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align">
                        <div class="valign-wrapper center-align" style="width: auto; height:50vh;">
                            <div class="progress pink lighten-5">
                                <div class="indeterminate pink accent-3"></div>
                            </div>
                        </div>
                        <div class="valign-wrapper center-align" style="width: auto; height:50vh; text-align:center;">
                            <h5 class="center-align">Loading</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>