<!DOCTYPE html>
<html>
    <head>
        <!--Website Title-->
        <title>Project Air - Main</title>
        <!--Import Google Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="./css/styles.css"/>

        <!--Import fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!--Import icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Importing Javascript-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>

        <!--Importing Firebase JS. Using for Auth.-->
        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

        <!--Optimizing website for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <!-- Main Content -->
        <div class="container" id="main-container">
            <div class="col s12 m7">
                <h4 class="header">All Devices</h4>

                <div class="card horizontal hoverable">
                    <div class="card-image valign-wrapper hide-on-small-only">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">

                        <div class="card-content center-align">
                            <div class="hide-on-med-and-up">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <h5>Michael's Samsung Galaxy Note8</h5>
                            <p>[Serial Number]</p>
                        </div>
                        <div class="horizontal">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 l4 center-align"><h4 class="charge-good">83%</h4></div>
                                    <div class="col s12 l4 center-align"><h5>Discharging</h5></div>
                                    <div class="col s12 l4 center-align"><h5>3 hours 32 mins left</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card horizontal hoverable">
                    <div class="card-image valign-wrapper hide-on-small-only">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">

                        <div class="card-content center-align">
                            <div class="hide-on-med-and-up">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <h5>Michael's Samsung Galaxy Note8</h5>
                            <p>[Serial Number]</p>
                        </div>
                        <div class="horizontal">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 l4 center-align"><h4 class="charge-good">83%</h4></div>
                                    <div class="col s12 l4 center-align"><h5>Discharging</h5></div>
                                    <div class="col s12 l4 center-align"><h5>3 hours 32 mins left</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card horizontal hoverable">
                    <div class="card-image valign-wrapper hide-on-small-only">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">

                        <div class="card-content center-align">
                            <div class="hide-on-med-and-up">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <h5>Michael's Samsung Galaxy Note8</h5>
                            <p>[Serial Number]</p>
                        </div>
                        <div class="horizontal">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 l4 center-align"><h4 class="charge-good">95%</h4></div>
                                    <div class="col s12 l4 center-align"><h5>Discharging</h5></div>
                                    <div class="col s12 l4 center-align"><h5>3 hours 32 mins left</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card horizontal hoverable">
                    <div class="card-image valign-wrapper hide-on-small-only">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">

                        <div class="card-content center-align">
                            <div class="hide-on-med-and-up">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <h5>Michael's Samsung Galaxy Note8</h5>
                            <p>[Serial Number]</p>
                        </div>
                        <div class="horizontal">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 l4 center-align"><h4 class="charge-good">79%</h4></div>
                                    <div class="col s12 l4 center-align"><h5>Discharging</h5></div>
                                    <div class="col s12 l4 center-align"><h5>3 hours 32 mins left</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation Bar-->
        <nav class="bg-magenta">
            <div class="nav-wrapper" style="margin-left: 10px; margin-right: 10px">
                <a href="#!" class="brand-logo">Project Air</a>

                <!-- Large-screen navigation menu -->
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="#!"><i class="material-icons left">view_module</i>All Devices</a></li>
                    <li><a href="#!"><i class="material-icons left">account_circle</i>Account Settings</a></li>
                    <li><a href="#!" id="logout_btn" name="logout_btn"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                </ul>

                <!-- Sandwich menu icon -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <!-- Small-screen Sandwich bar menu-->
        <ul class="side-nav" id="mobile-demo">
            <li>                    
                <div class="user-view">
                    <div class="background">
                        <img src="./assets/office.jpg">
                    </div>
                    <%if(userName){%>
                    <span class="white-text name"><%-userName%></span>
                    <%}%>
                    <%if(userEmail){%>
                    <span class="white-text email"><%-userEmail%></span>
                    <%}%>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">view_module</i>All Devices</a></li>
            <li><a href="#!"><i class="material-icons">account_circle</i>Account Settings</a></li>
            <li><a href="#!" id="logout_btn" name="logout_btn"><i class="material-icons left pink-text">exit_to_app</i><p class="text-magenta">Logout</p></a></li>
        </ul>


    </body>

    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $(logout_btn).on('click', function(){
                firebase.initializeApp(<%-process.env.FIREBASE_CONFIG%>);
                firebase.auth().signOut().then(function() {
                    // Sign-out successful.
                    $.post('/logout', function(){
                        window.location.href = '/loading';
                    });
                }).catch(function(error) {
                    // An error happened.
                    console.log("signout fialed", error);
                });
            })
        });
    </script>
</html>