@font-face{
    font-family: 'TelegroteskNOR';
    src: url('../public/fonts/Tele/NOR.ttf' format('truetype'));
}

@font-face{
    font-family: 'TelegroteskFET';
    src: url('../public/fonts/Tele/FET.ttf' format('truetype'));
}

@font-face{
    font-family: 'TelegroteskHAL';
    src: url('../public/fonts/Tele/HAL.ttf' format('truetype'));
}