body {
    background: #ffffff;
    width: 100%;
    height: 100vh;
}

h1 {
    color: #e20074;
    font-weight: 100;
}

h2{
    color:ffffff;
    font-weight: 100;
}

h3{
    color:ffffff;
    font-weight: 100;
}

h4{
    color:ffffff;
    font-weight: 100;
}

h5{
    color:ffffff;
    font-weight: 100;
}

p{
    color: #ffffff;
}

nav{
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    font-weight: 100;
}
.error_msg{
    color: red;
}

.pinkBox{
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: 2px 3px 10px #9B9B9B;
}

/* label focus color */
.input-field input:focus + label {
    color: #e20074 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #e20074 !important;
    box-shadow: 0 1px 0 0 #e20074 !important;
}

.bg-magenta {
    background-color: #e20074;
}

.text-magenta{
    color: #e20074;
}

i.icon-magenta{
    color: #e20074;
}

.charge-great{
    color: #4CAF50;
}

.charge-good{
    color: #8baf4c;
}

.charge-danger{
    color: #FF9800;
}

.charge-bad{
    color: #FF5722;
}

.device-icon{
    height: 200px;
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
}

.card-image{
    width: 200px;
    height: auto;
}

#main-container{
    margin-top: 85px;
}